<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="newsong.css">
</head>
<body>
<form action ="addsong" method="post">
<label>Song Name:</label>
<input type="text" name="name">

<br><br>

<label>Song Artist:</label>
<input type="text" name="artist">

<br><br>


<label>Song Genre:</label>
<input type="text" name="genre">

<br><br>

<label>Song Link:</label>
<input type="text" name="Link">

<br><br>

<input type="submit" Add="ADD SONG">



</form>

</body>
</html>